.accordion__container {
  display: flex;
  flex-direction: column;
}

.accordion {
  background-color: #fff;
  color: #262626;
  cursor: pointer;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  justify-content: space-between;
  border-radius: 8px;
}

.accordion:hover {
  border-radius: 8px !important;
}

.accordion.active {
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;

  border-radius: 8px 8px 0 0 !important;
}

/* .accordion:hover,
.active {
} */

.accordion__title {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #4b5563;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: white;
  transition: 0.6s ease;
  border-radius: 0px 0px 8px 8px;
}

.accordion__text {
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.accordion__headerComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
